<div class="mt-4 d-flex justify-content-center align-items-center">
    <div class="card mr-4" style="width: 18rem;">
        <img class="card-img-top" src="{{ course.image}}" alt="{{course.name}}">
        <div class="card-body">
            <h5 class="card-title">{{ course.name}}</h5>
            <p class="card-text">{{ course.description}}</p>
            <a href="#" class="btn btn-primary">Mua nhe !</a>
        </div>
    </div>
</div>